<div class="uk-section">
  <div class="uk-container">
    <div class="uk-position-relative">
      <div class="uk-height-large uk-padding uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('src/assets/images/library.jpg');">
        <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-padding uk-overlay-primary">
          <h1 class="uk-width-1-1 uk-text-center uk-margin-auto uk-margin-auto-vertical">Welcome to {{ title }}!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-section">
  <div class="uk-container">
    <app-books></app-books>
  </div>
</div>